/* .dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
} */
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:1.5vmin;
    

}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0 ,0 ,0 ,0.3);
    font-size: 8vmin;
    color: #b0413e;
    background-color: #ffffcf;
}

#reset-button{
    padding: 20px;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: red;
    font-size: 3vmin;
}
#new-btn{
     padding: 20px;
    border-radius: 1rem;
    border: none;
    color: white;
    background-color: red;
    font-size: 3vmin;
    margin-bottom: 20px;
}
#msg{
    color: #ffffcf;
    font-size: 5vmin;
}
.msg-container{
    height: 10vmin;
}
.hide{
    display: none;
}
.hide2{
    display: none;
}
.msg-container2{
    height: 8vmin;
}
#msg2{
    color: #ffffcf;
    font-size: 6vmin;
}